<div class="card mb-4">
   <div class="card-img-wrapper"
      [style.backgroundImage]="getBackgroundUrl() ? 'url(' + getBackgroundUrl() + ')' : 'none'">
      <img [src]="member().photoUrl || './assets/user.png'"
         alt="{{member().knownAs}}"
         class="profile-photo">
      <!-- Online Status Indicator -->
      <span class="status-indicator"
         [ngClass]="{'online': isOnline(), 'offline': !isOnline()}"></span>
   </div>
   <div class="card-body p-1">
      <h6 class="card-title text-center mb-1">
         {{member().knownAs}}
      </h6>
      <p class="card-text text-muted text-center mb-0 small">{{member().age}}
         years old</p>
      <p class="card-text text-muted text-center small">{{member().country}},
         {{member().city}}</p>
   </div>
   <div class="card-footer">
      <div class="btn-group w-100" role="group">
         <button *ngIf="hasLiked()" (click)="toggleLike()"
            class="btn btn-danger rounded-0 border-end">
            <i class="fa fa-heart"></i>
         </button>
         <button *ngIf="!hasLiked()" (click)="toggleLike()"
            class="btn btn-primary rounded-0 border-end">
            <i class="fa fa-heart-o"></i>
         </button>
         <button class="btn btn-primary rounded-0 border-end"
            routerLink="/members/{{member().username}}"
            [queryParams]="{tab: 'Messages'}">
            <i class="fa fa-envelope"></i>
         </button>
         <button class="btn btn-primary rounded-0"
            routerLink="/members/{{member().username}}">
            <i class="fa fa-user"></i>
         </button>
      </div>
   </div>
</div>