<div class="row">
   <!-- Display existing photos -->
   @for (photo of member().photos; track photo.id) {
   <div class="col-3">
      <img src="{{photo.url}}" alt="photo of {{member().knownAs}}"
         class="img-thumbnail mb-1">
      <div class="text-center mb-2">
         <button
            class=" me-2"
            [disabled]="photo.isMain"
            (click)="setMainPhoto(photo)"
            [ngClass]="photo.isMain ? 'btn btn-success active' : 'btn btn-outline-primary'">Set
            as profile</button>
         <button
            class="btn btn-danger"
            [disabled]="photo.isMain"
            (click)="deletePhoto(photo)"><i class="fa fa-trash"></i></button>
      </div>
   </div>
   }
</div>
